<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="assets/bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/bower_components/sweetalert/dist/sweetalert.css">

    <script src="assets/angular.js"></script>
    <script src="assets/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="connect5.js"></script>
</head>
<body ng-app="connect5" ng-controller="GameController">
<div class="jumbotron text-center">
    <h2>Connect 5</h2>
    <p>
        x={{players['x']}}<image ng-src="{{photo['x']}}" width="100" height="100" class="img-circle"></image>
        o={{players['o']}}<image ng-src="{{photo['o']}}" width="100" height="100" class="img-circle"></image>
    </p>
</div>
<div class="container-fluid">

<div class="row">
    <div class="col-md-4 text-center">
        <div style="margin-top: 10%;">
            <h4>当前玩家</h4>
            <image ng-src="{{photo[currentPlayer]}}" width="100" height="100" class="img-circle"></image>
        </div>
        <div>
            <button class="btn btn-primary btn-lg" ng-click="reset()">再来一局</button>
            <button class="btn btn-primary btn-lg" ng-click="undo()">悔棋</button>
        </div>
        <div style="margin-top: 10%;">
            <table style="margin: 5% auto;">
                <tbody>
                <thead><h4>积分榜</h4></thead>
                <tr height="50">
                    <td  width="200">
                        <image ng-src="{{photo['x']}}" width="50" height="50" class="img-circle"></image>
                    </td>
                    <td width="200">
                        <image ng-src="{{photo['o']}}" width="50" height="50" class="img-circle"></image>
                    </td>
                </tr>
                <tr height="50">
                    <td>
                        {{recordx}}
                    </td>
                    <td>
                        {{recordo}}
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-primary btn-lg" ng-click="resetRecord()">清空积分</button>
        </div>
    </div>
    <div class="col-md-8 text-center center-block">
        <table border="1" class="text-center" style="margin: 5% auto;">
            <tbody>
            <tr ng-repeat="row in board track by $index">
                <td ng-repeat="cell in row track by $index" ng-click="play($parent.$index, $index)"
                    width="35" height="35"  style="text-align: center" class="lead" >
                    {{board[$parent.$index][$index]}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

<div class="row">
    <p>作业：</p>
    <p>已完成：</p>
    <ul>
        <li>如果一个地方已经有棋子了就不能再往那放啦</li>
        <li>请检测平局情况并做出相应提醒</li>
        <li>用图片来显示当前玩家</li>
        <li>加入一个“再来一局”按钮</li>
        <li>加入一个积分榜，记录谁赢的次数多</li>
        <li>用bootstrap让网站变得更好看</li>
        <li>加试题：加入电脑玩家</li>
    </ul>
    <p>新作业：</p>
    <ul>
        <li>加入无限悔棋功能</li>
        <li>让alert变得更好看</li>
    </ul>

</div>

</div>
</body>
</html>