<h1>7王523</h1>
<div class="row">
    <div ng-repeat="player in game.players" class="col-md-6">
        <h4>Player: {{player.name}}</h4>
        <h5>Score: {{player.score}}</h5>
        <div ng-if="$index == game.currentPlayerIndex">
            <h5>Cards: </h5>
            <ul>
                <li ng-repeat="card in player.cards">
                    <input type="checkbox" ng-model="selectedCards[$index]">
                    {{card | renderCard}}
                    <!-- img ng-src="assets/cards/{{card.imageName}}.png" width="100" height="146" -->
                </li>
            </ul>
            <div ng-if="$index == game.currentPlayerIndex">
                <button ng-click="play()">Play</button>
                <button ng-click="pass()">Pass</button>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <h4> Discarded cards:</h4>
    <ul>
        <li ng-repeat="card in game.discardedCards | orderBy:'':true">
            {{card | renderCard}}
        </li>
    </ul>
</div>